/*
Author: Joshua Abreu
Date: 3/7/21
File Name: styles.css
*/


/* CSS Reset */
body, header, nav, main, footer, img, h1, h3 {
margin: 0;
padding: 0;
border: 0;
}

/* Style rule for body and images */

body{
  background-color:  #f6eee4;
}

img {
max-width: 100%;
display: block;
}

/* Style rules for navigation area */

nav {
background-color: #2a1f14;
}

nav ul{
list-style-type: none;
margin: 0;
text-align: center;
}

nav li{
  display: inline-block;
  font-size: 1.5em;
  font-family: "Geneva", Arial, sans-serif,
  font-weight: bold;
}

nav li {
  display: block;
  color:#f6eee4
  padding-top: .5em;
  padding-bottom .5em;
  padding-left: 2em;
  padding right: 2em;
  text-decoration: none;

}

/* Style rules for main content */

main{
  
}
